@model UserAdministrator

@using SEP_Web.Models
@using SEP_Web.Models.UsersModels
@using SEP_Web.Models.PasswordModels
@using SEP_Web.Keys

@{

    ViewData["Title"] = "Edição de administrador";
}

<div class="container">

    <div class="change-pass users-manager-container">

        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle rounded-3 bg-primary text-light" id="menu-config" title="Menu de modificações do usuário" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-gear-fill"></i></a>

                <ul class="dropdown-menu" aria-labelledby="menu-config">
                    <li><a type="button" data-bs-toggle="modal" data-bs-target="#adm-change-pass" title="Alterar senha do usuário !" class="dropdown-item"><i title="Altere a senha do usuário !" class="bi bi-file-earmark-lock2"> </i>Alterar senha</a>
                    </li>
                </ul>

            </li>

        </ul>

    </div>

    <div class="row justify-content-center">

        <div class="col-md-8 p-0 m-0">

            <div class="d-flex justify-content-center align-items-center">
                <div class="adm-line"></div>
                <i style="font-size: 10vh; color: #0077cc;" class="bi bi-person-lines-fill"></i>
                <div class="adm-line"></div>
            </div>

            <form class="register-adm-form" asp-controller="UserAdministrator" asp-action="Edit" method="post">

                <div class="pop-up-sm">
                    @await Html.PartialAsync("../Shared/Components/Alerts/_Alerts.cshtml")
                </div>

                <div class="row">

                    <div class="col-md-6 adm-col">

                        <div class="form-group mt-0  mb-0">

                            <label class="form-label" for="edit-administrator-masp" hidden></label>
                            <input type="number" class="form-control userMasp" id="edit-administrator-masp" name="masp" asp-for="Masp" placeholder="Nº do MASP" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Masp)
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="form-label" for="edit-administrator-name" hidden></label>
                            <input type="text" class="form-control" id="edit-administrator-name" name="Name" asp-for="Name" placeholder="Nome completo" maxlength="50" minlength="10" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Name)
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="form-label" for="edit-administrator-login" hidden></label>
                            <input type="text" class="form-control" id="edit-administrator-login" name="login" asp-for="Login" placeholder="Nome de login" maxlength="35" minlength="10" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Login)
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="form-label" for="edit-administrator-email" hidden></label>
                            <input type="text" class="form-control" id="edit-administrator-email" name="email" asp-for="Email" placeholder="Informe seu e-mail" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Email)
                            </div>

                        </div>

                    </div>

                    <div class="col-md-6 adm-col">

                        <div class="form-group mt-0 mb-0">

                            <label class="form-label" for="edit-administrator-phone" hidden></label>
                            <input type="tel" class="form-control mask-phone" id="edit-administrator-phone" name="phone" asp-for="Phone" maxlength="15" placeholder="(XX) XXXXX-XXXX" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Phone)
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="form-label" for="edit-administrator-position" hidden></label>
                            <input type="text" class="form-control" id="edit-administrator-position" name="Position" asp-for="Position" placeholder="Seu cargo" maxlength="35" minlength="10" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Position)
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="form-label" for="edit-administrator-password" hidden></label>
                            <input type="password" class="form-control disabled-box" id="edit-administrator-password" placeholder="Informe uma senha..." title="Para alterar a senha utilize o menu 'Alterar senha'." disabled>
                            <div class="validate-fields"></div>

                        </div>

                        <div class="form-group">

                            <label class="form-label" for="edit-administrator-confirmPass" hidden></label>
                            <input type="password" class="form-control disabled-box" id="edit-administrator-confirmPass" placeholder="Confirme sua senha..." title="Para alterar a senha utilize o menu 'Alterar senha'." disabled>
                            <div class="validate-fields"></div>

                        </div>

                    </div>

                </div>

                <div class="form-group">

                    <div class="mt-0 div-enableDisable">

                        <button title="Salve as alterações ..." type="submit" class="btn btn-primary"><i class="bi bi-person-add" title="Salve as alterações ..."></i> Salvar</button>
                        <button asp-controller="UserAdministrator" asp-action="Index" type="submit" class="btn btn-secondary" title="Cancelar edição ..."><i class="bi bi-arrow-return-left" title="Cancelar edição ..."></i></button>

                        <div class="btn-enableDisable">
                            @if (Model.UserStats == UserStatsEnum.Active)
                            {
                                <input class="form-check-input enableDisableAccount" id="disable-account" type="checkbox" name="enableDisableAccount">
                                <label class="form-check-label" for="disable-account">Desabilitar usuário</label>
                            }
                            else
                            {
                                <input class="form-check-input enableDisableAccount" id="enable-account" type="checkbox" name="enableDisableAccount">
                                <label class="form-check-label" for="enable-account">Habilitar usuário</label>
                            }
                        </div>
                        
                    </div>
                    
                </div>

            </form>

        </div>

    </div>

</div>

@* Start enable/disable user Modal *@

    <div class="modal fade confirmationModal" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">

            <div class="modal-content">

                <div class="modal-header bg-danger p-3">
                    <h3 class="modal-title text-light text-center fs-4 mb-0 p-0" id="confirmationModalLabel">
                        Alerta</h3>
                    <button type="button" title="Fechar modal" id="modal-close" class="btn-close bg-light text-light" data-bs-dismiss="modal"
                        aria-label="Close"> 
                    </button>
                </div>

               @if(Model.UserStats == UserStatsEnum.Active)
               {

                <div class="modal-body enableDisableModal p-3">
                    <span class="text-danger fw-bold">Atenção!</span> desabilitar o usuário fará com que ele perca o <span class="fw-bold">completo acesso ao sistema</span>. Ao prosseguir você concorda em <span class="fw-bold">desabilitar</span> o usuário <span class="fw-bold">@Model.Login</span>.
                </div>

               }
               else
               {
                    <div class="modal-body enableDisableModal p-3">
                        <span class="text-danger fw-bold">Atenção!</span> habilitar o usuário fará com que ele retome o <span class="fw-bold">completo acesso ao sistema</span>. Ao prosseguir você concorda em <span class="fw-bold">habilitar</span> novamente o usuário <span class="fw-bold">@Model.Login</span>.
                    </div>
               }

                <div class="modal-footer modal-footer-sm d-flex justify-content-start">
                    <button type="button" title="cancelar ..." class="btn btn-sm btn-danger" data-bs-dismiss="modal"><i class="bi bi-x-circle-fill"></i></button>
                    <button type="button" title="confirmar ..." class="btn btn-sm btn-primary confirmAction"><i class="bi bi-check-circle-fill"></i></button>
                </div>

            </div>

        </div>

    </div>

@* Finish enable/disable user Modal *@

@* Início do Modal de Edição da senha do usuário *@

<div class="modal fade" id="adm-change-pass" tabindex="-1" role="dialog" aria-labelledby="change-admTitle" aria-hidden="true">

    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h3 class="modal-title lead text-sm fw-bold mb-0 p-0" id="change-admTitle">Alterar senha</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body p-1">
                    @await Html.PartialAsync("../ChangePassword/_ChangePass.cshtml", new ChangePassword())
                </div>
        </div>

    </div>

</div>

@* Fim do Modal de Edição da senha do usuário *@