@using SEP_Web.Models
@using SEP_Web.Services
@using SEP_Web.Keys

@inject IAssessmentServices _assessmentServices
@inject IUserEvaluatorServices _evaluatorServices

@model Assessment

@{
    ViewData["Title"] = "Avaliações";
}

<hr class="bg-secondary mb-0">

    <div id="assessments-data" class="row">
        <div class="col-md-12">
            <section class="form-control fw-bold" disabled>Nome do(a) Servidor(a): <span class="fw-normal">@await _assessmentServices.ServantName(@Model.CivilServantId)</span></section>
        </div>
        <div class="col-md-3 mt-1">
            <section class="form-control fw-bold" disabled>Nº da matrícula: <span class="fw-normal">@_assessmentServices.ServantMasp(@Model.CivilServantId)</span></section>
        </div>
        <div class="col-md-2 mt-1">
            <section class="form-control fw-bold" disabled>Etapa: <span class="fw-normal">@Model.Phase</span></section>
        </div>
        <div class="col-md-7 mt-1">
            <section class="form-control fw-bold" disabled>Nome do(a) avaliador(a): <span class="fw-normal">@await _evaluatorServices.EvaluatorsName(@Model.UserEvaluatorId)</span></section>
        </div>
    </div>

<hr class="bg-secondary mt-0 mb-0">

<div class="container-fluid">

    <div class="validate-fields mt-2">
        <span class="field-validation-error">@TempData["ValidationMessage"]</span>
    </div>

    <form class="p-3 mt-5 assessments-form" asp-action="ToAssess" asp-controller="Assessments" method="post">

        <input type="hidden" name="id" asp-for="Id">
        <input type="hidden" name="phase" asp-for="Phase">
        <input type="hidden" name="civilServantId" asp-for="CivilServantId">
        <input type="hidden" name="userEvaluatorId" asp-for="UserEvaluatorId">

        <div id="assessments-header">

            <ul class="nav nav-tabs" id="avaliacaoTab" role="tablist">

                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="attendance-tab" data-bs-toggle="tab"
                        data-bs-target="#attendance" type="button" role="tab" aria-controls="attendance"
                        aria-selected="true">Assiduidade</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="discipline-tab" data-bs-toggle="tab" data-bs-target="#discipline"
                        type="button" role="tab" aria-controls="discipline" aria-selected="false">Disciplina</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="initiative-tab" data-bs-toggle="tab" data-bs-target="#initiative"
                        type="button" role="tab" aria-controls="initiative" aria-selected="false">Iniciativa</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="responsibility-tab" data-bs-toggle="tab"
                        data-bs-target="#responsibility" type="button" role="tab" aria-controls="responsibility"
                        aria-selected="false">Responsabilidade</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="productivity-tab" data-bs-toggle="tab" data-bs-target="#productivity"
                        type="button" role="tab" aria-controls="productivity"
                        aria-selected="false">Produtividade</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="interpersonalRelationship-tab" data-bs-toggle="tab"
                        data-bs-target="#interpersonalRelationship" type="button" role="tab"
                        aria-controls="interpersonalRelationship" aria-selected="false">Relacionamento</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="zealForHeritage-tab" data-bs-toggle="tab"
                        data-bs-target="#zealForHeritage" type="button" role="tab" aria-controls="zealForHeritage"
                        aria-selected="false">Zelo com o patrimônio</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="punctuality-tab" data-bs-toggle="tab" data-bs-target="#punctuality"
                        type="button" role="tab" aria-controls="punctuality" aria-selected="false">Pontualidade</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="efficiency-tab" data-bs-toggle="tab" data-bs-target="#efficiency"
                        type="button" role="tab" aria-controls="efficiency" aria-selected="false">Eficiência</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="others-tab" data-bs-toggle="tab" data-bs-target="#others" type="button"
                        role="tab" aria-controls="others" aria-selected="false">Outros</button>
                </li>
            </ul>

        </div>

        <div class="tab-content mt-2" id="avaliacaoTabContent">

            <div class="tab-pane fade show active" id="attendance" role="tabpanel" aria-labelledby="attendance-tab">
                @await Html.PartialAsync("_Attendance.cshtml", @Model)
            </div>

            <div class="tab-pane fade" id="discipline" role="tabpanel" aria-labelledby="discipline-tab">
                @await Html.PartialAsync("_Discipline.cshtml", @Model)
            </div>

            <div class="tab-pane fade" id="initiative" role="tabpanel" aria-labelledby="initiative-tab">
                @await Html.PartialAsync("_Initiative.cshtml", @Model)
            </div>

            <div class="tab-pane fade" id="responsibility" role="tabpanel" aria-labelledby="responsibility-tab">
                @await Html.PartialAsync("_Responsability.cshtml", @Model)
            </div>

            <div class="tab-pane fade" id="productivity" role="tabpanel" aria-labelledby="productivity-tab">
                @await Html.PartialAsync("_Productivity.cshtml", @Model)
            </div>

            <div class="tab-pane fade" id="interpersonalRelationship" role="tabpanel" aria-labelledby="interpersonalRelationship-tab">
                @await Html.PartialAsync("_InterpersonalRelationship.cshtml", @Model)
            </div>

            <div class="tab-pane fade" id="zealForHeritage" role="tabpanel" aria-labelledby="zealForHeritage-tab">
                @await Html.PartialAsync("_ZealForHeritage.cshtml", @Model)
            </div>

            <div class="tab-pane fade" id="punctuality" role="tabpanel" aria-labelledby="punctuality-tab">
                @await Html.PartialAsync("_Punctuality.cshtml", @Model)
            </div>

            <div class="tab-pane fade" id="efficiency" role="tabpanel" aria-labelledby="efficiency-tab">
                @await Html.PartialAsync("_Efficiency.cshtml", @Model)
            </div>

            <div class="tab-pane fade" id="others" role="tabpanel" aria-labelledby="others-tab">
                @await Html.PartialAsync("_Others.cshtml", @Model)
            </div>

            <div class="assessments-button">
                <button type="submit" class="btn btn-md btn-primary"><i title="Avaliar ..." class="bi bi-journal-bookmark-fill"></i> Avaliar</button>
                <a class="btn btn-md btn-secondary" title="Cancelar" asp-action="Index" asp-controller="Assessments"><i class="bi bi-arrow-return-left" title="Cancelar"></i></a>
            </div>

        </div>

    </form>

</div>