@using SEP_Web.Models
@using SEP_Web.Services
@using SEP_Web.Keys
@inject IInstituitionServices _instituitionServices
@inject IDivisionServices _divisionServices
@inject ISectionServices _sectionServices
@inject ISectorServices _sectorServices
@inject IUserEvaluatorServices _evaluatorServices

@model CivilServant

@{
    ViewData["Title"] = "Edição de servidores";
}

<div class="container">

    <div style="position: absolute; right: 20vh; margin-top: 5px;" class="change-pass">

        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" id="servant-menu-config" title="Menu de modificações do usuário" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-gear-fill"></i></a>

                <ul class="dropdown-menu" aria-labelledby="eval-menu-config">
                    <li><a type="button" data-bs-toggle="modal" data-bs-target="#servant-change-pass" title="Alterar senha do usuário !" class="dropdown-item"><i title="Altere a senha do usuário !" class="bi bi-file-earmark-lock2"> </i>Alterar senha</a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li><a type="button" data-bs-toggle="modal" data-bs-target="#change-servant-structures" title="Altere as entidades órgão, divisão, seção ou setor do usuário!" class="dropdown-item"><i title="Altere as entidades órgão, divisão seção ou setor do usuário!" class="bi bi-building-fill-gear"> </i>Alterar entidades</a>
                    </li>
                </ul>

            </li>

        </ul>

    </div>

    <div class="row justify-content-center">

        <div class="col-md-8 p-0 m-0">

            <div class="d-flex justify-content-center align-items-center">
                <div class="eval-line"></div>
                <i style="font-size: 10vh; color: #0077cc;" class="bi bi-person-video2"></i>
                <div class="eval-line"></div>
            </div>

            <form class="servant-register register-adm-form justify-content-center" asp-controller="CivilServant" asp-action="Edit" method="post">

                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success alert-edit-success" role="alert">
                        <button type="button" class="btn btn-sm btn-danger close-alert" data-dismiss="modal" aria-label="Close">
                            <span class="close-span" aria-hidden="true">&times;</span>
                        </button>
                        <i class="bi bi-shield-fill-check"></i>
                        @TempData["SuccessMessage"]
                    </div>
                }

                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger alert-edit-error" role="alert">
                        <button type="button" class="btn  btn-sm btn-danger close-alert" data-dismiss="modal" aria-label="Close">
                            <span class="close-span" aria-hidden="true">&times;</span>
                        </button>
                        <i class="bi bi-shield-fill-x"></i>
                        @TempData["ErrorMessage"]
                    </div>
                }

                <div class="row">

                    <div class="col-md-6 adm-col">

                        <div class="form-group">

                            <label class="form-label" for="edit-servant-masp" hidden></label>
                            <input type="number" class="form-control userMasp" id="edit-servant-masp" name="Masp" asp-for="Masp" placeholder="Nº do MASP" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Masp)
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="form-label" for="edit-servant-name" hidden></label>
                            <input type="text" class="form-control" id="edit-servant-name" name="Name" asp-for="Name" placeholder="Nome completo" maxlength="50" minlength="10" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Name)
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="form-label" for="edit-servant-login" hidden></label>
                            <input type="text" class="form-control" id="edit-servant-login" name="Login" asp-for="Login" placeholder="Nome de login" maxlength="35" minlength="10" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Login)
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="form-label" for="edit-servant-email" hidden></label>
                            <input type="text" class="form-control" id="edit-servant-email" name="Email" asp-for="Email" placeholder="Informe seu e-mail" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Email)
                            </div>

                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">

                            <label class="form-label" for="edit-servant-phone" hidden></label>
                            <input type="tel" class="form-control" onkeyup="handlePhone(event)" id="edit-servant-phone" name="phone" asp-for="Phone" placeholder="(XX) XXXXX-XXXX" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Phone)
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="form-label" for="edit-servant-position" hidden></label>
                            <input type="text" class="form-control" id="edit-servant-position" name="Position" asp-for="Position" placeholder="Seu cargo" maxlength="35" minlength="9" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Position)
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="form-label" for="edit-evaluator-password" hidden></label>
                            <input type="password" class="form-control disabled-box" id="edit-evaluator-password" placeholder="Informe uma senha..." title="Para alterar a senha utilize o menu 'Alterar senha'." disabled>
                            <div class="validate-fields"></div>

                        </div>

                        <div class="form-group">

                            <label class="form-label" for="edit-evaluator-confirmPass" hidden></label>
                            <input type="password" class="form-control disabled-box" id="edit-evaluator-confirmPass" placeholder="Confirme sua senha..." title="Para alterar a senha utilize o menu 'Alterar senha'." disabled>
                            <div class="validate-fields"></div>

                        </div>

                    </div>

                </div>
                    <hr class="m-0">
                <div class="row">
                    <div class="col-md-6 servant-col">

                        <div style="margin-top: 1vh;" class="form-group">
                            <label class="form-label text-secondary" for="disable-instituition-servant-id" hidden>Órgão:</label>
                            <select title="Altere o órgão no menu 'Alterar entidades'." class="disabled-box form-select" id="disable-instituition-servant-id" disabled>
                                <option selected>Órgão: @await _instituitionServices.InstituitionsName(@Model.InstituitionId)</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="form-label text-secondary" for="disable-division-servant-id" hidden>Divisão:</label>
                            <select title="Altere a divisão no menu 'Alterar entidades'." class="disabled-box form-select" id="disable-division-servant-id" disabled>
                                <option selected>Divisão: @await _divisionServices.DivisionsName(@Model.DivisionId)</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="form-label text-secondary" for="disable-section-servant-id" hidden>Seção:</label>
                            <select title="Altere a seção no menu 'Alterar entidades'." class="disabled-box form-select" id="disable-section-servant-id" disabled>
                                <option selected>Seção: @await _sectionServices.SectionsName(@Model.SectionId)</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="form-label text-secondary" for="disable-sector-id" hidden>Setor:</label>
                            <select title="Altere o setor no menu 'Alterar entidades'." class="disabled-box form-select" id="disable-sector-id" disabled>
                                <option selected>Setor: @await _sectorServices.SectorsName(@Model.SectorId)</option>
                            </select>
                        </div>

                    </div>

                    <div class="col-md-6 servant-col">

                        <div style="margin-top: 1vh;" class="form-group">
                            <label class="form-label text-secondary" for="disable-first-evaluator-id" hidden>Avaliador 1:</label>
                            <select title="Altere o avaliador 1 no menu 'Alterar entidades'." class="disabled-box form-select" id="disable-first-evaluator-id" disabled>
                                <option selected>Avaliador 1: @await _evaluatorServices.EvaluatorsName(@Model.UserEvaluatorId1)</option>
                            </select>
                        </div>

                        <div style="margin-top: -1.5vh;" class="form-group">
                            <label class="form-label text-secondary" for="disable-second-evaluator-id" hidden>Avaliador 2:</label>
                            <select title="Altere o avaliador 2 no menu 'Alterar entidades'." class="disabled-box form-select" id="disable-second-evaluator-id" disabled>
                                <option selected>Avaliador 2: @await _evaluatorServices.EvaluatorsName(@Model.UserEvaluatorId2)</option>
                            </select>
                        </div>

                        <div style="margin-top: -1.5vh;" class="form-group">

                            <label class="form-label" for="servant-admission" hidden></label>
                            <input type="text" value="Data de Admissão: @Model.AdmissionDate" class="form-control" id="servant-admission" asp-for="AdmissionDate" disabled>
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.AdmissionDate)
                            </div>

                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="mt-0 div-enableDisable">

                        <button title="Salve as alterações ..." type="submit" class="btn btn-primary"><i class="bi bi-person-add" title="Salve as alterações ..."></i> Salvar</button>
                        <button asp-controller="CivilServant" asp-action="Index" type="submit" class="btn btn-secondary" title="Cancelar edição ..."><i class="bi bi-arrow-return-left" title="Cancelar edição ..."></i></button>
                        
                        <div class="btn-enableDisable">
                            @if (Model.UserStats == UserStatsEnum.Active)
                            {
                                <input class="form-check-input enableDisableAccount" id="disable-account" type="checkbox" name="enableDisableAccount">
                                <label class="form-check-label" for="disable-account">Desabilitar usuário</label>
                            }
                            else
                            {
                                <input class="form-check-input enableDisableAccount" id="enable-account" type="checkbox" name="enableDisableAccount">
                                <label class="form-check-label" for="enable-account">Habilitar usuário</label>
                            }
                        </div>
                        
                    </div>
                </div>

            </form>

        </div>

    </div>

</div>

@* Start enable/disable user Modal *@

    <div class="modal fade confirmationModal" id="confirmationEvalModal" tabindex="-1" role="dialog" aria-labelledby="confirmationEvalModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">

            <div class="modal-content">

                <div class="modal-header bg-danger p-3">
                    <h3 class="modal-title text-light text-center fs-4 mb-0 p-0" id="confirmationEvalModalLabel">
                        Alerta</h3>
                    <button type="button" title="Fechar modal" id="modal-close" class="btn-close bg-light text-light" data-bs-dismiss="modal"
                        aria-label="Close"> 
                    </button>
                </div>

               @if(Model.UserStats == UserStatsEnum.Active)
               {

                <div class="modal-body enableDisableModal p-3">
                    <span class="text-danger fw-bold">Atenção!</span> desabilitar o usuário fará com que ele perca o <span class="fw-bold">completo acesso ao sistema</span>. Ao prosseguir você concorda em <span class="fw-bold">desabilitar</span> o usuário <span class="fw-bold">@Model.Login</span>.
                </div>

               }
               else
               {
                    <div class="modal-body enableDisableModal p-3">
                        <span class="text-danger fw-bold">Atenção!</span> habilitar o usuário fará com que ele retome o <span class="fw-bold">completo acesso ao sistema</span>. Ao prosseguir você concorda em <span class="fw-bold">habilitar</span> novamente o usuário <span class="fw-bold">@Model.Login</span>.
                    </div>
               }

                <div class="modal-footer modal-footer-sm d-flex justify-content-start">
                    <button type="button" title="cancelar ..." class="btn btn-sm btn-danger" data-bs-dismiss="modal"><i class="bi bi-x-circle-fill"></i></button>
                    <button type="button" title="confirmar ..." class="btn btn-sm btn-primary confirmAction"><i class="bi bi-check-circle-fill"></i></button>
                </div>

            </div>

        </div>

    </div>

@* Finish enable/disable user Modal *@

@* Início do Modal de Edição da senha do usuário *@

<div class="modal fade" id="servant-change-pass" tabindex="-1" role="dialog" aria-labelledby="change-servantTitle" aria-hidden="true">

    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h3 class="modal-title lead text-sm fw-bold mb-0 p-0" id="change-servantTitle">Alterar senha</h3>
                <a type="button" class="btn-close" asp-action="Edit" asp-controller="CivilServant" asp-route-Id="@Model.Id"></a>
            </div>
                <div class="modal-body p-1">
                    @await Html.PartialAsync("../ChangePassword/_ChangePass.cshtml", new ChangePassword())
                </div>
        </div>

    </div>

</div>

@* Fim do Modal de Edição da senha do usuário *@

@* Início do Modal de Edição das estruturas do usuário *@

<div class="modal fade" id="change-servant-structures" tabindex="-1" role="dialog" aria-labelledby="change-servantTitle" aria-hidden="true">

    <div class="modal-dialog modal-md modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h3 class="modal-title lead text-sm fw-bold mb-0 p-0" id="change-servantTitle">Alterar entidades</h3>
                <a type="button" class="btn-close" asp-action="Edit" asp-controller="CivilServant" asp-route-Id="@Model.Id"></a>
            </div>
                <div class="modal-body">
                    @await Html.PartialAsync("../Structure/_ModifyServantStructures.cshtml", new ModifyServantStructures())
                </div>
        </div>

    </div>

</div>

@* Fim do Modal de Edição das das estruturas do usuário *@

<script>
    document.getElementById('servant-admission').addEventListener('input', function (e) {
        let value = e.target.value;
        value = value.replace(/\D/g, '');
        
        if (value.length > 2) {
            value = value.substring(0, 2) + '/' + value.substring(2);
        }
        if (value.length > 5) {
            value = value.substring(0, 5) + '/' + value.substring(5, 9);
        }
        e.target.value = value;
    });
</script>