@using SEP_Web.Models
@using SEP_Web.Services
@using SEP_Web.Keys
@inject IInstituitionServices _instituitionServices
@inject IDivisionServices _divisionServices
@inject ISectionServices _sectionServices
@inject ISectorServices _sectorServices
@inject IUserEvaluatorServices _evaluatorServices

@model CivilServant

@{
    ViewData["Title"] = "Edição de servidores";
}

<div class="container">

    @await Html.PartialAsync("../Shared/Components/Menu/_UserSettings.cshtml")

    <div class="row justify-content-center">

        <div class="col-md-8 p-0 m-0">

            <div class="d-flex justify-content-center align-items-center">
                <div class="eval-line"></div>
                <i style="font-size: 10vh; color: #0077cc;" class="bi bi-person-video2"></i>
                <div class="eval-line"></div>
            </div>

            <form class="servant-register register-adm-form justify-content-center" asp-controller="CivilServant" asp-action="Edit" method="post">
                
                <div class="pop-up-sm">
                    @await Html.PartialAsync("../Shared/Components/Alerts/_Alerts.cshtml")
                </div>

                <div class="row">

                    <div class="col-md-6 adm-col">

                        <div class="form-group mt-0  mb-0">

                            <label class="form-label" for="edit-servant-masp" hidden></label>
                            <input type="number" class="form-control userMasp" id="edit-servant-masp" name="Masp" asp-for="Masp" placeholder="Nº do MASP" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Masp)
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="form-label" for="edit-servant-name" hidden></label>
                            <input type="text" class="form-control" id="edit-servant-name" name="Name" asp-for="Name" placeholder="Nome completo" maxlength="50" minlength="10" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Name)
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="form-label" for="edit-servant-login" hidden></label>
                            <input type="text" class="form-control" id="edit-servant-login" name="Login" asp-for="Login" placeholder="Nome de login" maxlength="35" minlength="10" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Login)
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="form-label" for="edit-servant-email" hidden></label>
                            <input type="text" class="form-control" id="edit-servant-email" name="Email" asp-for="Email" placeholder="Informe seu e-mail" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Email)
                            </div>

                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group mt-0 mb-0">

                            <label class="form-label" for="edit-servant-phone" hidden></label>
                            <input type="tel" class="form-control mask-phone" id="edit-servant-phone" name="phone" asp-for="Phone" maxlength="15" placeholder="(XX) XXXXX-XXXX" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Phone)
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="form-label" for="edit-servant-position" hidden></label>
                            <input type="text" class="form-control" id="edit-servant-position" name="Position" asp-for="Position" placeholder="Seu cargo" maxlength="35" minlength="9" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Position)
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="form-label" for="edit-evaluator-password" hidden></label>
                            <input type="password" class="form-control disabled-box" id="edit-evaluator-password" placeholder="Informe uma senha..." title="Para alterar a senha utilize o menu 'Alterar senha'." disabled>
                            <div class="validate-fields"></div>

                        </div>

                        <div class="form-group">

                            <label class="form-label" for="edit-evaluator-confirmPass" hidden></label>
                            <input type="password" class="form-control disabled-box" id="edit-evaluator-confirmPass" placeholder="Confirme sua senha..." title="Para alterar a senha utilize o menu 'Alterar senha'." disabled>
                            <div class="validate-fields"></div>

                        </div>

                    </div>

                </div>

                <hr class="m-0">

                <div style="margin-top: -3vh;" class="row">

                    <div class="col-md-6 servant-col">

                        <div class="form-group">
                            <label class="form-label text-secondary" for="disable-instituition-servant-id" hidden>Órgão:</label>
                            <select title="Altere o órgão no menu 'Alterar entidades'." class="disabled-box form-control" id="disable-instituition-servant-id" disabled>
                                <option selected>Órgão: @await _instituitionServices.InstituitionsName(@Model.InstituitionId)</option>
                            </select>
                            <div class="validate-fields"></div>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="disable-division-servant-id" hidden>Divisão:</label>
                            <select title="Altere a divisão no menu 'Alterar entidades'." class="disabled-box form-control" id="disable-division-servant-id" disabled>
                                <option selected>Divisão: @await _divisionServices.DivisionsName(@Model.DivisionId)</option>
                            </select>
                            <div class="validate-fields"></div>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="disable-section-servant-id" hidden>Seção:</label>
                            <select title="Altere a seção no menu 'Alterar entidades'." class="disabled-box form-control" id="disable-section-servant-id" disabled>
                                <option selected>Seção: @await _sectionServices.SectionsName(@Model.SectionId)</option>
                            </select>
                            <div class="validate-fields"></div>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="disable-sector-id" hidden>Setor:</label>
                            <select title="Altere o setor no menu 'Alterar entidades'." class="disabled-box form-control" id="disable-sector-id" disabled>
                                <option selected>Setor: @await _sectorServices.SectorsName(@Model.SectorId)</option>
                            </select>
                            <div class="validate-fields"></div>
                        </div>

                    </div>

                    <div class="col-md-6 servant-col">

                        <div class="form-group">
                            <label class="form-label" for="disable-first-evaluator-id" hidden>Avaliador 1:</label>
                            <select title="Altere o avaliador 1 no menu 'Alterar entidades'." class="disabled-box form-control" id="disable-first-evaluator-id" disabled>
                                <option selected>Avaliador 1: @await _evaluatorServices.EvaluatorsName(@Model.UserEvaluatorId1)</option>
                            </select>
                            <div class="validate-fields"></div>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="disable-second-evaluator-id" hidden>Avaliador 2:</label>
                            <select title="Altere o avaliador 2 no menu 'Alterar entidades'." class="disabled-box form-control" id="disable-second-evaluator-id" disabled>
                                <option selected>Avaliador 2: @await _evaluatorServices.EvaluatorsName(@Model.UserEvaluatorId2)</option>
                            </select>
                            <div class="validate-fields"></div>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="servant-admission" hidden></label>
                            <input type="text" value='Data de Admissão: @Model.AdmissionDate.ToString("dd/MM/yyyy")' class="disabled-box form-control" id="servant-admission" asp-for="AdmissionDate" disabled>
                        </div>
                        <div class="validate-fields"></div>

                        <div class="form-group"></div>
                        <div class="validate-fields"></div>

                    </div>

                </div>

                <div class="form-group">

                    <div class="mt-0 div-enableDisable">

                        <button title="Salve as alterações ..." type="submit" class="btn btn-primary"><i class="bi bi-person-add" title="Salve as alterações ..."></i> Salvar</button>
                        <button asp-controller="CivilServant" asp-action="Index" type="submit" class="btn btn-secondary" title="Cancelar edição ..."><i class="bi bi-arrow-return-left" title="Cancelar edição ..."></i></button>
                        
                        @if (Model.UserStats == UserStatsEnum.UnderLicense)
                        {
                            <div class="btn-enableDisable disabled-box">
                                <input style="cursor: not-allowed;" class="disabled-box form-check-input enableDisableAccount" type="checkbox" name="enableDisableAccount" disabled>
                                <label class="form-check-label disabled-box">Desabilitar usuário</label>
                            </div>
                        }
                        else
                        {
                            <div class="btn-enableDisable">
                                @if (Model.UserStats == UserStatsEnum.Active)
                                {
                                    <input class="form-check-input enableDisableAccount ml-1 mt-0" id="disable-account" type="checkbox" name="enableDisableAccount">
                                    <label class="form-check-label ml-1 mt-0" for="disable-account">Desabilitar usuário</label>
                                }
                                else
                                {
                                    <input class="form-check-input enableDisableAccount" id="enable-account" type="checkbox" name="enableDisableAccount">
                                    <label class="form-check-label" for="enable-account">Habilitar usuário</label>
                                }
                            </div>
                        }
                        
                    </div>
                    
                </div>

            </form>

        </div>

    </div>

</div>

@* Start enable/disable user Modal *@

    <div class="modal fade confirmationModal" id="confirmationEvalModal" tabindex="-1" role="dialog" aria-labelledby="confirmationEvalModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">

            <div class="modal-content">

                <div class="modal-header bg-danger p-3">
                    <h3 class="modal-title text-light text-center fs-4 mb-0 p-0" id="confirmationEvalModalLabel">
                        Alerta</h3>
                    <button type="button" title="Fechar modal" id="modal-close" class="btn-close bg-light text-light" data-bs-dismiss="modal"
                        aria-label="Close"> 
                    </button>
                </div>

               @if(Model.UserStats == UserStatsEnum.Active)
               {

                <div class="modal-body enableDisableModal p-3">
                    <span class="text-danger fw-bold">Atenção!</span> desabilitar o usuário fará com que ele perca o <span class="fw-bold">completo acesso ao sistema</span>. Ao prosseguir você concorda em <span class="fw-bold">desabilitar</span> o usuário <span class="fw-bold">@Model.Login</span>.
                </div>

               }
               else
               {
                    <div class="modal-body enableDisableModal p-3">
                        <span class="text-danger fw-bold">Atenção!</span> habilitar o usuário fará com que ele retome o <span class="fw-bold">completo acesso ao sistema</span>. Ao prosseguir você concorda em <span class="fw-bold">habilitar</span> novamente o usuário <span class="fw-bold">@Model.Login</span>.
                    </div>
               }

                <div class="modal-footer modal-footer-sm d-flex justify-content-start">
                    <button type="button" title="cancelar ..." class="btn btn-sm btn-danger" data-bs-dismiss="modal"><i class="bi bi-x-circle-fill"></i></button>
                    <button type="button" title="confirmar ..." class="btn btn-sm btn-primary confirmAction"><i class="bi bi-check-circle-fill"></i></button>
                </div>

            </div>

        </div>

    </div>

@* Finish enable/disable user Modal *@

@* Início do Modal de Edição da senha do usuário *@

<div class="modal fade" id="change-pass" tabindex="-1" role="dialog" aria-labelledby="change-Title" aria-hidden="true">

    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h3 class="modal-title lead text-sm fw-bold mb-0 p-0" id="change-Title">Alterar senha</h3>
                <a type="button" class="btn-close" asp-action="Edit" asp-controller="CivilServant" asp-route-Id="@Model.Id"></a>
            </div>
                <div class="modal-body p-1">
                    @await Html.PartialAsync("../ChangePassword/_ChangePass.cshtml", new ChangePassword())
                </div>
        </div>

    </div>

</div>

@* Fim do Modal de Edição da senha do usuário *@

@* Início do Modal de Edição das estruturas do usuário *@

<div class="modal fade" id="change-structures" tabindex="-1" role="dialog" aria-labelledby="change-Title" aria-hidden="true">

    <div class="modal-dialog modal-md modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h3 class="modal-title lead text-sm fw-bold mb-0 p-0" id="change-Title">Alterar entidades</h3>
                <a type="button" class="btn-close" asp-action="Edit" asp-controller="CivilServant" asp-route-Id="@Model.Id"></a>
            </div>
                <div class="modal-body">
                    @await Html.PartialAsync("../Structure/_ModifyServantStructures.cshtml", new ModifyServantStructures())
                </div>
        </div>

    </div>

</div>

@* Fim do Modal de Edição das das estruturas do usuário *@