@model CivilServant

@using SEP_Web.Models.UsersModels
@using SEP_Web.Interfaces.StructuresInterfaces
@using SEP_Web.Keys

@inject IInstituitionServices _instituitionServices

@{
    ViewData["Title"] = "Cadastro de servidores";
}

<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-8 p-0 m-0">

            <div class="d-flex justify-content-center align-items-center">
                <div class="eval-line"></div>
                <i style="font-size: 10vh; color: #0077cc;" class="bi bi-person-video2"></i>
                <div class="eval-line"></div>
            </div>

            <form class="servant-register register-adm-form justify-content-center" asp-controller="CivilServant" asp-action="Register" method="post">

                @await Html.PartialAsync("../Shared/Components/Alerts/_Alerts.cshtml")

                <div class="row">

                    <div class="col-md-6 adm-col">

                        <div class="form-group">

                            <label class="form-label" for="servant-masp" hidden></label>
                            <input type="number" class="form-control" id="servant-masp" name="Masp" asp-for="Masp" placeholder="Nº do MASP" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Masp)
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="form-label" for="servant-name" hidden></label>
                            <input type="text" class="form-control" id="servant-name" name="Name" asp-for="Name" placeholder="Nome completo" maxlength="50" minlength="10" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Name)
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="form-label" for="servant-login" hidden></label>
                            <input type="text" class="form-control" id="servant-login" name="Login" asp-for="Login" placeholder="Nome de login" maxlength="50" minlength="10" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Login)
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="form-label" for="servant-email" hidden></label>
                            <input type="text" class="form-control" id="servant-email" name="Email" asp-for="Email" placeholder="Informe seu e-mail" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Email)
                            </div>

                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">

                            <label class="form-label" for="servant-phone" hidden></label>
                            <input type="tel" class="form-control mask-phone" id="servant-phone" name="phone" asp-for="Phone" maxlength="15" placeholder="(XX) XXXXX-XXXX" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Phone)
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="form-label" for="servant-position" hidden></label>
                            <input type="text" class="form-control" id="servant-position" name="Position" asp-for="Position" placeholder="Seu cargo" maxlength="35" minlength="5" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Position)
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="form-label" for="servant-password" hidden></label>
                            <input type="password" class="form-control" id="servant-password" name="Password" asp-for="Password" placeholder="Informe uma senha" maxlength="100" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.Password)
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="form-label" for="servant-confirmPass" hidden></label>
                            <input type="password" class="form-control" id="servant-confirmPass" name="confirmPass" placeholder="Confirme sua senha" maxlength="100" autocomplete="disabled">
                            <div class="validate-fields">
                                <span class="field-validation-error">@TempData["ErrorPass"]</span>
                            </div>

                        </div>

                    </div>

                </div>
                    <hr class="m-0">
                <div class="row">
                    <div class="col-md-6 adm-col">

                        <div class="form-group">
                            <select class="servant-instituition form-select" name="instituitionId" asp-for="InstituitionId">

                                @foreach (var i in await _instituitionServices.InstituitionsList())
                                {
                                    <option value="@i.Id">@i.Name</option>
                                }
                            </select>
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.InstituitionId)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.DropDownListFor(model => model.DivisionId, Enumerable.Empty<SelectListItem>(), "-- selecione a divisão --", new { @class = "servant-division form-select w-100" })
                                <div class="validate-fields">
                                    @Html.ValidationMessageFor(x => x.DivisionId)
                                </div>
                        </div>

                        <div class="form-group">
                            @Html.DropDownListFor(model => model.SectionId, Enumerable.Empty<SelectListItem>(), "-- selecione a seção --", new { @class = "servant-section form-select w-100" })
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.SectionId)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.DropDownListFor(model => model.SectorId, Enumerable.Empty<SelectListItem>(), "-- selecione o setor --", new { @class = "servant-sector form-select w-100" })
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.SectorId)
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">
                            @Html.DropDownListFor(model => model.UserEvaluatorId1, Enumerable.Empty<SelectListItem>(), "-- selecione o avaliador 1 --", new { @class = "servant-evaluator-first form-select w-100" })
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.UserEvaluatorId1)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.DropDownListFor(model => model.UserEvaluatorId2, Enumerable.Empty<SelectListItem>(), "-- selecione o avaliador 2 --", new { @class = "servant-evaluator-second form-select w-100" })
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.UserEvaluatorId2)
                            </div>
                        </div>

                        <div class="form-group">

                            <label class="form-label" for="servant-admission" hidden></label>
                            <input type="text" class="form-control" id="servant-admission" asp-for="AdmissionDate" placeholder="Data de admissão: dd/mm/aaaa" autocomplete="disabled">
                            <div class="validate-fields">
                                @Html.ValidationMessageFor(x => x.AdmissionDate)
                            </div>

                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <button title="Cadastrar usuário ..." type="submit" class="btn btn-primary"><i class="bi bi-person-add" title="Cadastrar usuário ..."></i> Salvar</button>
                    <button asp-controller="CivilServant" asp-action="Index" type="submit" class="btn btn-secondary" title="Cancelar cadastro ..."><i class="bi bi-arrow-return-left" title="Cancelar cadastro ..."></i></button>
                </div>

            </form>

        </div>

    </div>

</div>
