@model ServantLicense

@using SEP_Web.Models.LicensesModels
@using SEP_Web.Interfaces.LicensesInterfaces
@using SEP_Web.Interfaces.UsersInterfaces

@inject ICivilServantServices _servantServices
@inject ILicenseServices _licenseServices
@inject ICivilServantServices _servantServices

@{
    ViewData["Title"] = "Editar licença do servidor";
}

<!-- Partial View de Cadastro de Licença -->

<div>

    <form asp-action="Edit" asp-controller="ServantLicense" method="post" id="edit-servantLicense-form">

        <div class="form-group p-4">

            <input type="hidden" id="edit-servantLicense-Id" asp-for="Id">

            <div class="row justify-content-between ps-3">
                <label style="font-size: 0.9em;" class="form-label m-0 p-0"
                    for="license-duration-helper">Duração:</label>
                <input id="license-duration-helper" class="form-control w-25 edit-license-duration-hidden" type="text" value="@Model.License.Time dias" disabled>
                <input name="license-difference" class="form-control w-25 me-3 edit-license-duration" type="hidden"
                    disabled>
            </div>

            <div class="validate-fields mt-0 mb-1">
                <span class="field-Time-validation-error m-0"></span>
            </div>

            @if ((await _servantServices.ServantsList()).Count > 0)
            {
                <div class="form-group">
                    <label style="font-size: 0.9em;" class="form-label" for="edit-civilServantId">Servidor:</label>
                    <select id="edit-civilServantId" class="form-select edit-servantLicense-civilServantId disabled-style"
                        asp-for="CivilServantId">
                        <option value="@Model.CivilServant.Id" selected>@Model.CivilServant.Name</option>
                    </select>
                    <div class="validate-fields mb-1">
                        <span class="select-servant-validation-error"></span>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label style="font-size: 0.9em;" class="form-label" for="edit-civilServantId">Servidor:</label>
                    <select id="edit-civilServantId" class="form-select edit-servantLicense-civilServantId"
                        asp-for="CivilServantId">
                        <option value="">-- selecione o servidor --</option>
                    </select>
                    <div class="validate-fields mb-1">
                        <span class="select-servant-validation-error"></span>
                    </div>
                </div>
            }

            @if ((await _licenseServices.LicenseList()).Count > 0)
            {
                <div class="form-group">
                    <label style="font-size: 0.9em;" class="form-label" for="edit-licenseType">Tipo da Licença:</label>
                    <select id="edit-licenseType" class="form-select edit-servantLicense-LicensesId" asp-for="LicensesId">
                        <option value="" selected>-- selecione a licença --</option>
                        @foreach (var i in await _licenseServices.LicenseList())
                        {
                            <option value="@i.Id">@i.Name</option>
                        }
                    </select>
                    <div class="validate-fields mb-1">
                        <span class="select-license-validation-error"></span>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label style="font-size: 0.9em;" class="form-label" for="edit-licenseType">Tipo da Licença:</label>
                    <select class="form-select edit-servantLicense-LicensesId" id="edit-licenseType" asp-for="LicensesId">
                        <option value="" selected>-- selecione a licença --</option>
                    </select>
                    <div class="validate-fields mb-1">
                        <span class="select-license-validation-error"></span>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-md-6  form-group">
                    <label style="font-size: 0.9em;" class="form-label" for="edit-startDate">Data de início:</label>
                    <input type="date" id="edit-startDate" class="form-control edit-servantLicense-startDate"
                        asp-for="StartDate" autocomplete="disabled">
                    <div class="validate-fields mb-1">
                        <span class="field-sdate-validation-error"></span>
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <label style="font-size: 0.9em;" class="form-label" for="edit-endDate">Data de término:</label>
                    <input type="date" id="edit-endDate" class="form-control edit-servantLicense-endDate"
                        asp-for="EndDate" autocomplete="disabled">
                    <div class="validate-fields mb-1">
                        <span class="field-edate-validation-error"></span>
                    </div>
                </div>

            </div>

        </div>

        <div class="d-flex justify-content-start modal-footer p-2">
            <button type="submit" class="btn btn-sm btn-primary" title="Editar ..."><i class="bi bi-check-circle-fill"
                    title="Editar ..."></i></button>
            <a asp-controller="ServantLicense" asp-action="Index" class="btn btn-sm btn-danger" title="Cancelar ..."><i
                    class="bi bi-x-circle-fill" title="Cancelar ..."></i></a>
        </div>

    </form>

</div>

<!-- Partial View de Cadastro de Licença -->